<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Code Blog</title>
	<!-- CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
		crossorigin="anonymous">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />		

</head>

<body>

	<header>
		

		<!-- As a heading -->
		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1" style="font-weight: bold;">MyCodeBlog</span>
		</nav>

	</header>

	<main>

		<div class="container" style="width: 60%; padding-bottom: 30px;">


			<nav aria-label="breadcrumb" style="padding-top: 10px;">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a th:href="${(#mvc.url('PC#getPosts')).build()}">
							Posts
						</a>
					</li>
					<li class="breadcrumb-item active">
							Post Details
					</li>
				</ol>
			</nav>

			<div style="padding-bottom: 10px;">
			
				<article>
					
					<div class="card">
						<div class="card-header">
							<i class="material-icons">person_outline</i>
							<span th:text=${postDetails.autor}></span>
							<span th:text=${postDetails.data}></span>
						</div>
						<div class="card-body">
							<h5 class="card-title">
								<i class="material-icons">date_range</i>
								<span th:text=${postDetails.titulo}></span>
							</h5>
							<section>
								<p class="card-text">
									<span th:text=${postDetails.texto}></span>
								</p>
							</section>
						</div>
					</div>
					
				</article>
			
				
			</div>

		</div>

	</main>

</body>
</html>